kaggle
numpy
scipy
pandas
pandas-profiling
polars
pyarrow
fastparquet
scikit-learn
linear-tree
mlxtend
lightgbm
catboost
xgboost
optuna

# --extra-index-url https://download.pytorch.org/whl/cu117
# torch
# transformers
# accelerate
# git+https://github.com/acpopescu/bitsandbytes@main
# bitsandbytes==0.35.0
# sentencepiece
# protobuf
# sentence_transformers

matplotlib
seaborn
jupyter
jupyterlab
ipynbname
ipywidgets==7.*
jupyterlab_widgets==1.*
tqdm
